$green: #2A8F79;
$brown: #614C3E;
$white: #FFFFFF;
$gold: #FFC300;
$gray: #515151;
$light-gray: #D7D7D7;
$red: #ff5335;
$light-red: #ffcbc2;

$font: "Ideal Sans SSm A", "Ideal Sans SSm B", serif;

body {
    font-family: $font;
    font-weight: 200;
    font-size: 16px;
    line-height: 100%;
}

section.padded {
    padding-top: 100px;
    padding-bottom: 100px;
}

a {
    color: $green;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1px;
    margin: 0 0 20px;
}

h3 {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 48px;
}

button {
    border: 2px solid $green;
    color: $green;
    border-radius: 4px;
    background: white;
    font-family: $font;
    font-size: 16px;
    padding: 9px 20px;
    margin: 0;

    &:hover {
        background: $green;
        color: $white;
        cursor: pointer;
    }
}

h2 {
}

.head {
    overflow: auto;
    width: 100%;

    ul {
        display: block;
        padding: 0 5%;
        line-height: 100px;
    }

    li {
        display: inline;
        list-style: none;
        padding-right: 30px;
        font-size: 14px;
        color: $gray;

        a {
            color: $gray;
        }

        &:first-child a {
            font-size: 27px;
            font-weight: 700;
            color: black;
            background: url("/assets/heart-coin.svg") left center no-repeat;
            background-size: 27px;
            padding-left: 32px;
            padding-right: 30px;
        }

        &:last-child {
            float: right;
        }
    }
}

.splash {
    clear: both;
    text-align: center;

    border: 1px solid $light-gray;
    border-style: solid none;

    h2 {
        color: $brown;
    }
    h3 {
        color: $brown;
    }

    button {
        font-size: 30px;
        border-radius: 6px;
        border-width: 3px;
        padding: 14px 28px;

        &.receive {
            border-color: $brown;
            background: transparent;
            color: $brown;

            &:hover {
                background: $brown;
                color: $white;
            }
        }

        &.give {
            border-color: $green;
            background: transparent;
            color: $green;
            
            margin-left: 20px;

            &:hover {
                background: $green;
                color: $white;
            }
        }
    }
}

.stats {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid $light-gray;
    font-size: 16px;
    color: $gray;

    .star {
        font-size: 22px;
        position: relative;
        bottom: -1px;
    }
}


.spotlight {
    background: $brown;
    color: $white;
    padding: 30px 5%;
    position: relative;

    h2 {
        font-size: 24px;
        line-height: 24px;
        margin-right: 36px;
        letter-spacing: 0;
        float: left;
        color: $gold;
        position: absolute;
        top: 100px;
        left: 5%;
    }

    .a-spotlight {
        padding-left: 200px;
        clear: both;
        padding-bottom: 30px;
        overflow: auto;

        &:last-child {
            margin-bottom: 0;
        }

        img {
            width: 128px;
            margin-right: 30px;
            float: left;
        }

        p {
            margin: 0 0 1em;
            line-height: 150%;
        }
        a {
            color: $gold;
            font-weight: 700;
        }
    }
}


.communities {
    background: $light-red;
    color: $brown;
    padding: 30px 5%;
    position: relative;

    h2 {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0;
        color: $red;
        text-align: left;
    }

    a {
        color: $red;
        font-weight: 700;
    }

    ul {
        position: relative;
        clear: both;
        padding: 0 0 0 200px;
        top: -58px;
        overflow: auto;

        li {
            width: 25%;
            float: left;
            padding-bottom: 12px;
        }
    }
}
